<div class="main_bg"><!-- start main -->
	<div class="container">
		<div class="about row">
			<h2>about us</h2>




			<p class="para">
				JOB4ALL is world’s emerging online job portal setting new records of steady growth. Since its launch on 1st Jan, 2018, it is moving successfully in the right direction of eliminating the gap between recruiters and job seekers and bring them on one platform. JOB4ALL is solely operated and developed by SSM Team.
			</p>
			<h3>What is JOB4ALL?</h3>
			<p class="para">
			JOB4ALL is one of World's fastest growing and authentic jobs portal website to find latest career opportunities in all over the SWorld. The recent century has seen a replacement of traditional ways of jobs application all over the world. Unfortunately some online job portals are creating a monopoly in Pakistan and providing faulty services. JOB4ALL is honored to introduce an unbiased service to facilitate both job seekers and employers. This is the reason JOB4ALL has become one of World's fastest growing online job platform, where thousands of job seekers and employer signup on daily basis.</p>

			<h3>Data Management Team</h3>
			<p class="para">The data management team is committed to ensure the integrity of the data we publish on our website.  It not only evaluates the legitimacy of our employers and the veracity of the data, but it also ensures that the candidates are equally complying with the rules we put in place. JOB4ALL has a strong standing in Data management services. Data management team at JOB4ALL confirms to provide the accurate data collection, the uncompromised quality standards of the data within the respective time period. We pledge to provide the integrated data which may ensure the deliverance of the projects and campaigns which are based on that data. We ensure the consistency of the data with the designed protocols of action. Backed by the professionals of the team, both operative and technical experts, we work in validated environment to build the best for you. We make the best use of Data collection tools to supervise the entire process. Data management team at JOB4ALL  collaborates with different departments to get the swift yet accurate data collection by staying true to the requirements of the protocol. Our team is determined to present the verified data of employers and job seekers in an order to provide the exact picture to the users. Therefore, our team is entirely focused on providing covering all the aspects of documentation and data collection and archiving as well as the data mapping procedures. </p>
			<a href="#" class="fa-btn btn-1 btn-1e">read more</a>
		</div>
	</div>
</div><!-- end main -->

<div class="main_btm"><!-- start main_btm -->
	<div class="container">
		<div class="main row">
			<div class=" content_right">
				<h4><span>What we do?</span> </h4>
				<p class="para">JOB4ALL is an ideal platform for employers as well as job seekers to get the desired employee and job respectively. With registered employers, JOB4ALL provides countless job opportunities for job seekers in World according to their preferred location and industry. On JOB4ALL, top recruiters place their latest job vacancies for which job seekers can send their online resumes. Whereas for employers, it provides a wide opportunity to screen the desired talent from the JOB4ALL’ database of over one million professional resumes. JOB4ALL has made the hiring process easier than never before as it allows the employers to post their latest job openings. With its effectiveness for employers and job seekers, JOB4ALL has created a brand of its own.<br> 
				<h4><span>Our Team:</span></h4>
				<p class="para"> JOB4ALL is a brainchild of CUBE Discipline, a software house based in Pakistan, offering IT services to worldwide clients.</p>
 </p>
				<a href="#" class="fa-btn btn-1 btn-1e">read more</a>
			</div>
		</div>
	</div>
</div>
