<CENTER><h2>About US</h2></CENTER>


<center>
<p style="margin-bottom:-15px;"><b>Follow me by:</b></p><br>
		<%= link_to "facebook", ('#'), :class => "btn btn-lg btn-success" %>
		<%= link_to "twitter",  ('#'), :class => "btn btn-lg btn-success" %>
		<%= link_to "google plus", ('#'), :class => "btn btn-lg btn-success" %></center>

