<div align ="center">
<h1>CONTACT US!!</h1>

<p>
help@ebiz.com
</p>
<h4>BUSINESS RELATED ENQUIRIES</h4>
<p>
bid@ebiz.com
</p>
<h4>OUR OPERATING HOURS</h4>
<p>
weekdays 10am to 10pm
Closed on weekends & public holidays.
</p>

<h4>HOW TO GET HERE?</h4>
<p>
University Of Balochistan,Saryab road qta
</p>

<h4>OUR HOTLINE</h4>
<p>
(+92)335 8256569
</p>


